fastapi==0.115.12
motor==3.6.0
pydantic==2.10.10
pydantic-settings==2.7.1
pydantic[email]==2.10.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
pyotp==2.9.0
qrcode==8.0
Pillow==11.2.0
mangum==0.19.0
